nav {
  font-size: 40px;
  background-color: blue;
  opacity: 80%;
  text-align: center;
  border-radius: 10px;
}

a {
  color: white;
  
}

h2 {
  color: white;
  text-align: left;
  font-size: 50px;
  
}

img {
  height: 500px;
  width: 500px;
  float: left;
  margin: 5px;
  margin-top: -5px;
}

body{
  background-image: url(2140912.jpg);
  background-position: center;
  background-size: cover;
}

main {
  color: white;
}
section {
  background:  rgba(10, 189, 165, 0.45);
  margin-left: 20px;
  margin-top: 10px;
}

h1 {
  font-size: 30px;
}

p {
  text-wrap:balance;
  font-size: 20px;
}

p2 {
  font-size: 30px;
  text-align: justify;
  text-wrap: balance;
}